html[xmlns] .slides{display:block;}
* html .slides{height:1%;}

#slider_wrapper{position: relative;}
#slider{margin:0; position: relative;}

#flexslider{position:relative; min-height: 316px;}
#flexslider .slides>li{display:none;position:relative;}

.slides:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
.slides{list-style:none outside none;margin:0;padding: 0;}
.slides img{width:100%; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px;}

#flexslider .flex-control-nav{display:inline-block; padding: 0; margin: 0; position: absolute; right: 0; left: 0; bottom: 95px; z-index:5; overflow:hidden;list-style:none; text-align: center; line-height: 1;}
#flexslider .flex-control-nav li{display: inline-block; float:none; width:11px; height:11px; margin: 0 8px;}
#flexslider .flex-control-nav li:first-child{}
#flexslider .flex-control-nav li a{display:block;width: 100%; height: 100%; background: none; text-indent: -9999%; cursor:pointer; position: relative; overflow: hidden;background: url(../images/pagination.html) left top no-repeat;}
#flexslider .flex-control-nav li a:hover, #flexslider .flex-control-nav li a.flex-active{ background-position: right;}
#flexslider .flex-control-nav li .flex-active{cursor:default;pointer-events:none;}

#flexslider .flex-direction-nav{padding: 0; margin: 0; list-style: none;}
#flexslider .flex-direction-nav li{}
#flexslider .flex-direction-nav li a{display: block; width: 51px; height: 50px; position: absolute; left: 0; top: 50%; margin-top: -25px;
transition: all 0.3s ease-out; -moz-transition: all 0.3s ease-out; -webkit-transition: all 0.3s ease-out; -o-transition: all 0.3s ease-out;
}
#flexslider .flex-direction-nav li a.flex-prev{background: url(../images/prev.png) left top no-repeat; opacity: 0.5; filter: alpha(opacity=50);}
#flexslider .flex-direction-nav li a.flex-prev:hover{opacity: 1; filter: alpha(opacity=100);}
#flexslider .flex-direction-nav li a.flex-next{left: auto; right: 0; background: url(../images/next.png) left top no-repeat; opacity: 0.5; filter: alpha(opacity=50);}
#flexslider .flex-direction-nav li a.flex-next:hover{opacity: 1; filter: alpha(opacity=100);}

.flex-caption{position:absolute;width: 100%; left:0; top: 50%; margin-top: -120px; text-align:center;}
.flex-caption > div{}
.flex-caption .txt1{font-family: 'IronHorse'; font-weight: 400; font-size: 60px; line-height: 1; color: #fff; text-transform: uppercase; text-shadow:1px 1px 3px rgba(0, 0, 0, 0.75); padding-bottom: 20px;}
.flex-caption .txt2{font-family: 'Europe'; font-weight: 400; font-size: 60px; line-height: 1; color: #fff; text-transform: uppercase; text-shadow:1px 1px 3px rgba(0, 0, 0, 0.75); padding-bottom: 20px;}
.flex-caption .txt3{}


@media (max-width: 1199px) {
  #flexslider{min-height: 316px;}
}

@media (max-width: 991px) {
  #flexslider{min-height: 316px;}
  .flex-caption{margin-top: -100px;}
  .flex-caption .txt1{font-size: 40px;}
  .flex-caption .txt2{font-size: 40px;}
}

@media (max-width: 767px) {
  #flexslider{min-height: 130px;}
  .flex-caption{display: none;}
}

@media (max-width: 480px) {
  #flexslider{position: relative; margin: 1px auto -30px auto;}
}
